<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  <link rel="stylesheet" href="/stylesheets/stylesheet.css">
  <title>URL Shortener - CiMSO</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/database">View Database</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container form-container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>URL Shortener</h2>
        <h4>Copy and paste the URL here</h4>
        <form action="/shortened-url" method="POST">
          <div class="form-group">
            <input class='form-control' type="text" name="ogurl" placeholder="Parameter: Long URL">
          </div>
          <button class="btn btn-md btn-primary" type="submit">Shorten!</button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>